.sign-up-form {
  text-align: center;
  padding: 10px 20px;
}

#user_first_name {
  border-radius: 15px;
}

#user_last_name {
  border-radius: 15px;
}

#user_password_confirmation {
  border-radius: 15px;
}

.sign-up-form:focus{
    color: #333;
    outline: none;
    box-shadow: none;
    border:1px solid $orange;
  }

.sign-up {
   background: #ffa502;
   border-radius: 10px;
   color: white;
   margin-bottom: 10px;
   border-color: white;
   width: 100%;
   &:hover{
    background-color: $larder-blue;
    color: white;
    border-style: none;
   }

}

.sign-up-form a {
  font-weight: normal;
 color: #333;
 &:hover {
  color: #ffa502;
  text-decoration: none;
 }
}

.account-q {
 font-weight: lighter;
 padding-bottom: 20px;
}

#user_email:focus, #user_password:focus, #user_password_confirmation:focus, #user_first_name:focus, #user_last_name:focus {
  color: black;
  outline: none;
  box-shadow: none;
  border:1px solid $orange;
}
