h1 {
  font-weight: normal;
  color: black;
  line-height:60px;
  margin:0;
  font-size:30px;
  letter-spacing:2px;
  font-family:Muli, sans-serif;
  }

h2 {
  color: black;
  font-size: 25px;
  font-family:Muli, sans-serif;
  font-weight: 100;
}

h3 {
  color: #1f2e2e;
  font-size: 15px;
  font-family:Muli, sans-serif;
  font-weight: 100;
}

i.fa.fa-trash-o {
  color: #1f2e2e;
}
