.half-screen {
  height: 45vh;
  position: relative;
  color: white;
  padding: 10px;
  background-size: cover !important;
  background-position: center;
}

.deco-none {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
