<% content_for(:title, 'Create a new recipe on Larder') %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3" id="cocoon-container">
      <div class="form-post">
        <h3>Add your recipe</h3>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'new_recipe' %>
<% end %>
