<div class="footer">
  <div class="footer-links">
   <!--  <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a> -->

    <%= link_to root_path, class: "footer-mag-icon" do %>
    <%= image_tag "larder-icon-search" %>
    <% end %>
    <%= link_to "/dashboard", class: "footer-user-icon" do %>
    <%= image_tag "larder-icon-profile" %>
  <% end %>
  </div>
</div>
