<div class="footer">
  <div class="footer-links">
    <%= link_to root_path, class: "footer-mag-icon" do %>
      <%= image_tag "mag-glass.png" %>
    <% end %>
    <%= link_to "/dashboard", class: "footer-star-icon" do %>
      <%= image_tag "empty-star.png" %>
    <% end %>
  </div>
</div>
