<footer>
  <div class="foot", id="foot">
    <div class="footer-links">
      <%= link_to root_path, class: "footer-icon" do %>
        <%= image_tag "larder-icon-search" %>
      <% end %>
      <%= link_to "/dashboard", class: "footer-icon" do %>
        <%= image_tag "larder-icon-profile" %>
      <% end %>
    </div>
  </div>
</footer>
