<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 offset-md-1">
      <h1> Your Favourites </h1>
    </div>
  </div>
</div>
<div class="container cards">
  <div class="row">
     <% @recipes.each do |recipe| %>
      <div class="col-xs-12">
        <% if recipe.photo? %>
          <div class="dashboard-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path recipe.photo, class:"product-image" %>);">
             <% else %>
                <div class="dashboard-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url("http://via.placeholder.com/300x400");">
                <% end %>
             <div class="card-description">
                <h2><%= recipe.name %></h2>
              </div>
                <div class="trashcan">
                  <%= link_to favourite_path(@user.favourite_for(recipe)), method: :delete, data: { confirm: 'Are you sure?'} do %>
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  <% end %>
                </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>



