<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 offset-md-1">
      <h1> Recipe dashboard </h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 offset-md-1">
      <h3> My saved recipes </h3>
      <% @favourite_recipes.each do |favourite| %>
          <div class="product">
            <%= cl_image_tag favourite.photo, class:"product-image hidden-xs" %>
            <div class='product-body'>
              <h3><%= favourite.name %></h3>
              <p><%= favourite.description %></p>
            </div>
            <ul class="list-inline product-controls hidden-sm hidden-xs">
              <li><%= link_to favourite_path(favourite), method: :delete, data: { confirm: 'Are you sure?'} do %>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              <% end %></li>
            </ul>
          </div>
      <% end %>
    </div>
  </div>
</div>
