.recipe-info-container {
  display: flex;
  justify-content: space-around;
}

.recipe-info-container > * {
  margin: 15px;
}

.recipe-desc p {
  color: black;
}

.recipe-method p {
  color: black;
}


