$card-margin-top: 20px;

.card {
  margin-top: 0px;
  height: calc((100vh - 70px - #{$card-margin-top } * 3 ) / 2 );
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
  transition: all 0.2s cubic-bezier(.25,.8,.25,1);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

}
.card:hover {
  box-shadow: 0 16px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-center {
  height: 30px;
  width: 30px;
  text-align: center;
  // justify-content: center;
  // align-items: center;
}

.card-servings {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: lighter;
}
.card-servings .cut {
  margin-right: 5px;
}

.card-duration {
  position: absolute;
    left: 70px;
    font-size: 15px;
    bottom: 10px;
    font-weight: lighter;
}
.dashboard-card {
  height: 100px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-bottom: 5px;

}
.card-favourite {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  bottom: 50px;
  left: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: lighter;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.product-image {
  background-size: cover;
}

.index-card {
  padding: 8px;
}

.container.cards {
  padding: 8px 8px 52px 8px;

}
