.footer {
  background: orange;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 6;
  width: 100%;
  height: 60px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}
.footer-links a {
  color: black;
  // opacity: 0.15;
  text-decoration: none;
  // font-size: 30px;
  height: 30px;
  padding: 0px 45px;
}

.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-user-icon img {
  height: 30px;
}

.footer-star-icon img {
  height: 30px;
}

.footer-recipe-icon img {
  height: 30px;
}
