.form-post {
  color: white;
  h3 {
    text-align: center;
  }
}

.full-width {
  width: 100% !important;
}

.select2-selection {
  height: 39px !important;
  border-radius: 15px;
  // width: 200px !important;
}

.select2-selection--single {
  border-radius: 15px !important;
}

.quantities-fields {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .f-item-i {
    flex: 0 0 210px !important;
    border-radius: 15px !important
  }
  .f-item-q {
    flex: 0 0 90px !important;
    border-radius: 15px !important;
  }
  .trash-icon {
    position: absolute;
    right: 0px;
    bottom: 21px;
    i {
      font-size: 20px;
    }
  }
}

