.tbs {
  background: $light-gray;
  display: flex;
  justify-content: center;
  padding: 10px 10px 0 10px
}
.tbs a {
  color: white;
}
.tbs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}

.tbs h3 {
  font-size: 17px;
  font-weight: 400;
  margin-top: 0;
  color: white;
}
.tbs p {
  opacity: 0.5;
  margin-bottom: 0;
  color: white;
}
.tb {
  background: $light-gray;
  flex: 0 0 40%;
  text-align: center;
  padding: 20px 0;
}
.tb:first-child {
  border-radius: 10px 0 0 0;
}
.tb:last-child {
  border-radius: 0 10px 0 0;
}
.tb.active {
  background: $light-gray;
  color: white;
  border-bottom: 2px solid white;
  // border-bottom: opacity: 0.4;
}
.tb:hover {
  border-bottom: 2px solid $yellow;
  transition: 0.2s;
}
