.ingredient-names h3 {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 11px;
  margin-bottom: 2.5px;
  color: white;
}

.ingredient-names h2 {
  font-size: 30px;
  color: white;
  margin-left: 10px;
}

// .title-test {
//   font-size: 60px;
//   text-transform: uppercase;
//   color: black;
// }

