.ingredient-names h3 {
  font-size: 20px;
  color: black;
}

.ingredient-names li {
  font-size: 17px;
  color: black;
}

// .title-test {
//   font-size: 60px;
//   text-transform: uppercase;
//   color: black;
// }

